<?xml version="1.0"?>
<config>
	<modules>
		<Bitbull_Soisy>
			<version>0.5.9</version>
		</Bitbull_Soisy>
	</modules>
	<global>
		<models>
			<soisy>
				<class>Bitbull_Soisy_Model</class>
			</soisy>
		</models>
		<blocks>
			<soisy>
				<class>Bitbull_Soisy_Block</class>
			</soisy>
		</blocks>
		<helpers>
			<soisy>
				<class>Bitbull_Soisy_Helper</class>
			</soisy>
		</helpers>
		<resources>
			<soisy_setup>
				<setup>
					<module>Bitbull_Soisy</module>
					<class>Bitbull_Soisy_Model_Resource_Setup</class>
				</setup>
			</soisy_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<soisy>
					<file>soisy.xml</file>
				</soisy>
			</updates>
		</layout>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<soisy_redirect>
						<class>soisy/observer</class>
						<method>setOrdersIds</method>
					</soisy_redirect>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
		<routers>
			<soisy>
				<use>standard</use>
				<args>
					<frontName>soisy</frontName>
					<module>Bitbull_Soisy</module>
				</args>
			</soisy>
		</routers>
		<translate>
			<modules>
				<Bitbull_Soisy>
					<files>
						<default>Bitbull_Soisy.csv</default>
					</files>
				</Bitbull_Soisy>
			</modules>
		</translate>		
	</frontend>
    <adminhtml>
		<translate>
			<modules>
				<Bitbull_Soisy>
					<files>
						<default>Bitbull_Soisy.csv</default>
					</files>
				</Bitbull_Soisy>
			</modules>
		</translate>		
	</adminhtml>
    
	<default>
		<payment>
			<soisy>
				<active>0</active>
				<model>soisy/soisy</model>
				<percentage>100</percentage>
				<order_status>pending</order_status>
				<title>Finanziamento con Soisy</title>
				<terms_and_conditions>https://www.soisy.it/privacy-policy/</terms_and_conditions>
				<allowspecific>0</allowspecific>
				<group>offline</group>
				<instalments>12</instalments>
				<zero_interest>0</zero_interest>
				<min_order_total>250</min_order_total>
				<max_order_total>20000</max_order_total>
				<loan_quote_placement>price-box</loan_quote_placement>
				<checkout_loan_quote_placement>checkout-review-table</checkout_loan_quote_placement>
				<cart_loan_quote_placement>cart-totals #shopping-cart-totals-table</cart_loan_quote_placement>
				<information_about_loan>min</information_about_loan>
				<loan_quote_text_checkout>You can also pay installments, eg  {INSTALMENT_AMOUNT}, in {INSTALMENT_PERIOD} months, with a total cost of {TOTAL_REPAID} and TAEG {TAEG}. Just choose "Pay with Soisy" when choosing the payment method</loan_quote_text_checkout>
				<loan_quote_text_cart>You can also pay installments, eg  {INSTALMENT_AMOUNT}, in {INSTALMENT_PERIOD} months, with a total cost of {TOTAL_REPAID} and TAEG {TAEG}. Just choose "Pay with Soisy" when choosing the payment method</loan_quote_text_cart>
				<loan_quote_text_product>You can also pay installments, eg  {INSTALMENT_AMOUNT}, in {INSTALMENT_PERIOD} months, with a total cost of {TOTAL_REPAID} and TAEG {TAEG}. Just choose "Pay with Soisy" when choosing the payment method</loan_quote_text_product>
				<sandbox_mode>0</sandbox_mode>
			</soisy>
		</payment>
	</default>
</config>
